
	<p id="about_home">Is another car sitting idly in your garage? Don't let it take up space with nothing to do! Rent your car out while your son or daughter is in college (studying hopefully)! Short term rentals as short as a semester. Set your prices. Make some good money off them for once. <b>Safe. Secure. Easy!</b><br><br>
	Need a car? Thinking of earning some extra cash as a driver but don't have a car? Check out the avaiable cars for rent across Northern New Jersey!</p>



</div>