

<link href='https://fonts.googleapis.com/css?family=Averia Serif Libre' rel='stylesheet'>
<div id="course_wrap">

	<h1 id="home_title">College Car Rentals</h1>
	<p id="slogan">Now it's THEIR turn to make you money!</p>
	<div id="dad_home"><%= image_tag("dad.png", :height => "200", :width => "auto") %></div><div id="student_home"><%= image_tag("student.png", :height => "175", :width => "auto") %></div>
	<div id="car_home"><%= image_tag("car2.png", :height => "75", :width => "auto") %></div>
	<p id="btn_for_bergen"><%= link_to("Bergen County", "/cars/")%>

	<p id="about_home">Is another car sitting idly in your garage? Don't let it take up space with nothing to do! Rent your car out while your son or daughter is in college (studying hopefully)! Short term rentals as short as a semester. Set your prices. Make some good money off them for once. <b>Safe. Secure. Easy!</b><br><br>
	Need a car? Thinking of earning some extra cash as a driver but don't have a car? Check out the avaiable cars for rent across Northern New Jersey!</p>



</div>